.vscode/**
node_modules/**
src/**
.gitignore
tsconfig.json
esbuild.js
**/*.map
**/*.d.ts
**/*.d.ts.map
assets_local/**
.agents/**
dsk/**
test.*
dist/charsets/**
dist/codec.*
dist/commands.*
dist/filesystem-provider.*
dist/status-bar.*
